
.connexion-modale {

  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.4);

  display: none;
  justify-content: center;
  align-items: flex-start;

  &.open {
    display: flex;

    .connexion {
      top: 130px;
      margin: 0 5px;
    }
  }

  .connexion {

    position: relative;
    top: -100px;

    background-color: $white;

    max-width: 600px;

    .btn-close {
      position: absolute;
      right: 10px;
      top: 5px;

      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $white;

      border: none;

      &:hover {
        background-color: $white;
        box-shadow: 1px 1px 2px #000;
      }
    }

    h2 {
      margin: 10px 0;
      text-align: center;
    }

    .col-droite {
      flex: 1 1 50%;
      padding: 20px;

      .form-item {

        margin-bottom: 0.75em;
        width: 100%;
        .form-item input {
          background: #fafafa;
          border: none;
          border-bottom: 2px solid #e9e9e9;
          color: #666;
          font-family: 'Open Sans', sans-serif;
          font-size: 1em;
          height: 50px;
          transition: border-color 0.3s;
          width: 100%;
        }
      }
    }

    .form-connexion {

      display: flex;
      flex-direction: column;


      }

      .genre {
        margin-bottom: 20px;
        p {
          margin: 0 0 5px;
        }

        label {
          margin-right: 10px;
        }
      }

    }

  }



@media screen and (min-width: $breakpoint-md) {
  .connexion-modale {
    .connexion {
      display: flex;

      .btn-close {
        right: -15px;
        top: -15px;
      }
    }

  }
}


@media screen and (min-width: $breakpoint-lg) {
  .connexion-modale {
    &.open {

      .connexion {
        top: 330px;

      }
    }

  }
}