////================== Style pour un exemple de commentaire ==========================
div.probleme{
  background-color: rgb(216, 176, 105);;
}
section.exemple{
  padding: 60px 10px;
  position: relative;

  .commentaireTitre{
    color: $fond-foncer;
    margin: 0 0 30px 0;


  }
  .fa-heart{
    font-size: 25px;
    position: absolute;
    top: 395px;
    left: 270px;
    transition: all 0.4s ease-in-out;
    &:hover{
      color: white;
    }
  }
  .fas.user{
    font-size: 25px;
    margin: 0 5px 0 0 ;
  }
  h3,p{
    margin: 0;
    color: $fond-gris;
  }

  p{
    background: white;

    padding: 50px;
    border-radius: 20px;

  }
  h3{
    margin: 0 0 0 10px;
  }

  background-color: $jaune;
}




@media screen and (min-width: $breakpoint-md) {
  section.exemple{

    .fa-heart{
      top: 320px;
      left: 700px;

    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  section.exemple{

    .fa-heart{
      top: 300px;
      left: 1100px;

    }
  }
}