////================== Style pour la banniere img d'un film ==========================
.bannierePresentation{
  max-height: 700px;
  overflow: hidden;
  .presentation{
    padding-top: 45px;
    background-color: $fond-foncer;
    margin: 0;
    //display: block;

  }


}


@media screen and (min-width: $breakpoint-md){

  .bannierePresentation {

    max-height: 900px;

  }



}

