
.profil {

  //-------------Bouton

  .boutonModif {

    display: flex;
    justify-content: center;

    margin: 20px 0 20px 0;
    .button {
      display: inline-block;
      border-radius: 10px;
      background-color: $white;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: $fz-normal;
      padding: 10px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;

      &:hover {
        background: $jaune;
      }

      &:hover span {
        padding-right: 25px;

        &:after {
          opacity: 1;
          right: 0;
        }
      }

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        &:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
      }
    }
  }
  //-------------


  .header-profil {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 0 0 0;

    p {
      font-weight: bold;
      font-size: $fz-moyen;
    }

    .imgProfil {
      max-width: 200px;
    }

  }

 .infoProfil {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

   text-align: center;

   .infoPerso{

     color:$fond-gris;
   }
  .info{
    text-decoration: underline;
    text-transform: uppercase;
  }

  }
}



@media screen and (min-width: $breakpoint-md) {
  .profil {

    margin: 50px 0 0 0;

    .header-profil{

      .imgProfil{
        max-width: 300px;
      }
    }

    .infoProfil div{

      display: flex;

      p{
        margin-left:10px;
      }


    }



  }

  .footer{
    top: 1030px;
  }



}

@media screen and (min-width: $breakpoint-lg) {

  .profil{

    max-height: 500px;



    .header-profil{

      .imgProfil{
        max-width: 400px;
      }
    }



  }




}