// STYLE DE BASE SUR LA BALISE BODY

body{

  @include font($ff-normal, $fz-normal, $color-text-normal, $lh-normal);


  p{
    color: $white;
  }
  .petit{
    width: 70px;
    height: 70px;
  }



}


