// LES STYLES DE BASE DES BALISES <h>

h1{
  font-size: 48pt;
  text-transform: uppercase;

}

h2{
  font-size: rem(42);
  text-transform: uppercase;
}

h3{
  font-size: 36pt;


}


h1,h2,h3{
  margin: 0;
  font-family: $ff-title;
  color: white;

}