//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-normal: rem(16);
$fz-moyen: rem(20);
$fz-gros: rem(30);
$fz-h2: rem(42);
$fz-small: rem(14);

$lh-normal: 1.5;

/// Font family

$ff-normal: 'Playfair Display', serif;
$ff-title: 'Josefin Sans', sans-serif;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
